.gains {
  @media screen and (min-width: 1199px) {
    padding-bottom: 0;
  }
}
.gain {
  &-title {
    text-transform: uppercase;
    margin-bottom: 10px;
    @media screen and (max-width: 767px){
      text-align: center;
    }
  }
  &-description {
    line-height: 1.71;
    letter-spacing: .03em;
  }
  &-item {
    //width: calc(100% / 4 - 30px);
    @media screen and (max-width: 767px){
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: 768px) {
      width: calc(100% / 2 - 30px);
    }
    @media screen and (min-width: 1200px) {
      width: calc(100% / 4 - 30px);
    }
  }
  &-icon-thumb{
    display: flex;
    //margin-right: 10px;
    height: 120px;
    background-color: getColor(light-grey);
    border-radius: 4px;
    margin-bottom: 30px;
  }
  &-icon{
    width: 70px;
    height: 70px;
    margin: auto;
  }


}