.blue {
  color: getColor(blue);
  transition: color 250ms $cubic;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: .03em;

  &:hover .blue,
  &:focus .blue {
    color: getColor(black);
  }

  @media screen and (max-width: 767px){
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 95px;
    font-size: 26px;
    line-height: 1.19;
  }
}
