.category-nav-btn{
  color: getColor(black);
  background-color: getColor(light-grey);

  &:hover, &:focus {
    color: getColor(white);
    background-color: getColor(blue);
  }
}

.category-card {
  width: calc(100% / 3 - 30px);
  border: 1px solid getColor(light-grey);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: box-shadow 250ms $cubic;

  &:hover, &:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .12),
      0 4px 4px rgba(0, 0, 0, .06),
      1px 4px 6px rgba(0, 0, 0, .16);
  }
  &:hover .overlay, &:focus .overlay {
    transform: translateY(0);
  }
}

.card-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: .06em;
}
.card-category-name{
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: .03em;
}
.categories-nav {
  margin-bottom: 50px;
  justify-content: center;
}
.category-nav-item:not(:last-child) {
  margin-right: 8px;
}
.category-card-content {
  padding: 20px 24px;
}
.card-thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  padding: 63px 24px;

  transform: translateY(100%);
  transition: transform 250ms $cubic;
}
.category-card-description {
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: getColor(white);
  overflow: hidden;
}