$colors: (
  black: #212121,
  blue: #2196f3,
  dark: #2f303a,
  grey: #757575,
  white: #fff,
  transparent-white: rgba(255, 255, 255, .6),
  light-grey: #F5F4FA,
  light-grey-icons: #AFB1B8,
);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);